@page
@model Touchstone.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].studentMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].studentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].studentAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].tutor_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tutor_ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.studentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.studentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.studentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
