@page
@model Touchstone.Pages.Tutors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.tutorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.tutorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.tutorEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.tutorEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.tutorMobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.tutorMobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.tutorAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.tutorAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor.branch_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.branch_ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tutor.tutorID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
