@page
@model Touchstone.Pages.Batches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batch.batchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batch.batchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batch.startDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batch.startDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batch.endDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batch.endDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batch.courseCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batch.courseCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batch.branch_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batch.branch_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Batch.batchID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
